---
apiVersion: v1
kind: Pod    
metadata:   
  name: test-pod-load
  namespace: test-xyz
spec:           
  containers:
  - name: webserver 
    image: nginx:latest
    ports:            
    - containerPort: 80
